.container{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.margin-top{
    margin-top:20px; 
}

td.edit{
    display: none;
}

tr.editing td.edit{
    display: block;
}

tr.editing td.view{
    display: none;
}

#deck.selected{
    display: none;
}
