.container{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.margin-top{
    margin-top:20px; 
}

td.edit{
    display: none;
}

tr.editing td.edit{
    display: block;
}

tr.editing td.view{
    display: none;
}

#card h2{
    margin-left: -15px;
    margin-top:0px;
}

#deck.selectedDeck{
    display: none;
}

#card{
    display: none;
}

#card.selectedDeck{
    display: block;
}

#simpleMode.isAdvancedMode{
    display: none;
}

#advancedMode.isSimpleMode{
    display: none;
}

#question, #answer {
    background-color: #f6f6f6;
}

textarea, #question div, #answer div {
    display: inline-block;
    width: 49%;
    height: 100%;
    vertical-align: top;
    box-sizing: border-box;
}

textarea {
    border: none; /*remove border*/
    border-right: 1px solid #ccc;
    resize: none; /*user can't resize textarea*/
    outline: none;
    background-color: #f6f6f6;
    font-size: 14px;
    font-family: Consolas, 'Monaco', courier, monospace;
}