<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>A simple tool for Anki</title>

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/anki.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="static/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/marked@0.3.6"></script>
    <script src="static/js/lodash@4.16.0"></script>
</head>
{% raw %}

<body>
    <div class="container">
        <h1>Tool for Anki</h1>
        <div id="anki" class="container">
            <!-- Deck area -->
            <div id="deck" :class="{selectedDeck: selectedDeck}">
                <div class="row">
                    <div class="input-group">
                        <input type="text" class="form-control" v-model="newDeckName" @keyup.enter="addDeck">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" @click="addDeck">Add Deck</button>
                        </span>
                    </div>
                </div>

                <!-- Deck list -->
                <div class="margin-top">
                    <div class="row">
                        <table class="table">
                            <tr>
                                <th class="col-md-10">Deck</th>
                                <th class="col-md-1">Edit</th>
                                <th class="col-md-1">Delete</th>
                            </tr>
                            <!-- For each deck -->
                            <tr v-for="deck in decks" :class="{editing: deck == editedDeck}">
                                <!-- show details of deck -->
                                <td class="view" @click="selectDeck(deck)">{{deck.deck}}</td>
                                <td class="view">
                                    <i class="fa fa-pencil" aria-hidden="true" @click="editDeck(deck)"></i>
                                </td>
                                <td class="view">
                                    <i class="fa fa-times" aria-hidden="true" @click="deleteDeck(deck)"></i>
                                </td>
                                <td class="edit">
                                    <input type="text" class="form-control"
                                        v-model="deck.deck"
                                        @blur = "cancelEditDeck(deck)"
                                        @keyup.esc = "cancelEditDeck(deck)"
                                        v-item-focus="deck==editedDeck"
                                        @keyup.enter = "doneEditDeck(deck)"
                                    >
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Card area -->
            <template v-if="selectedDeck">
            <div id="card" :class="{selectedDeck: selectedDeck}">
                <h2 v-if="selectedDeck">Deck: {{selectedDeck.deck}}</h2>
                <!-- Card controls -->
                <div class="row">
                    <div class="btn-group">
                        <button class="btn btn-default" type="button" @click="deselectDeck">
                            <i class="fa fa-reply" aria-hidden="true" ></i>
                        </button>
                        <button :class="{'btn btn-primary':isSimpleMode, 'btn btn-default':!isSimpleMode}" 
                            type="button"
                            @click=selectSimpleMode
                        >
                            <i class="fa fa-terminal" aria-hidden="true"></i>
                            Simple Mode
                        </button>
                        <button :class="{'btn btn-default':isSimpleMode, 'btn btn-primary':!isSimpleMode}" 
                            type="button"
                            @click=selectAdvancedMode
                        >
                            <i class="fa fa-columns" aria-hidden="true"></i>
                            Advanced Mode
                        </button>
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-list" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-th-large" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

                <!-- Card input controls Simple Mode-->
                <div id='simpleMode' class="row margin-top" :class="{isAdvancedMode:!isSimpleMode}">
                    <div>
                        Enter Card Question and Answer seperated by ;
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <div class="input-group-btn">
                            <button class="btn btn-default">Add</button>
                        </div>
                    </div>
                </div>

                <!-- Card input controls Advanced Mode -->
                <div id="advancedMode" :class="{isSimpleMode:isSimpleMode}">
                    <h3>Question</h3>
                    <div id="question">
                        
                        <textarea rows="5" :value="questionRawText" @input="updateQuestion"></textarea>
                        <div v-html="compiledQuestionMarkdown"></div>
                    </div>

                    <!-- Card input controls Advanced Mode -->
                    <h3>Answer</h3>
                    <div id="answer">
                        
                        <textarea rows="5" :value="answerRawText" @input="updateAnswer"></textarea>
                        <div v-html="compiledAnswerMarkdown"></div>
                    </div>
                </div>

                <!-- Card Display -->
                <div class="margin-top">
                    <div class="row">
                        <table class="table">
                            <tr>
                                <th class="col-md-5">Question</th>
                                <th class="col-md-5">Answer</th>
                                <th class="col-md-1">Edit</th>
                                <th class="col-md-1">Delete</th>
                            </tr>
                            <tr v-for="card in selectedDeck.cards">
                                <td>{{card.question}}</td>
                                <td>{{card.answer}}</td>
                                <td>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </td>
                                <td>
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            </template>
        </div>
    </div>

    <script type="text/javascript" src="static/js/vue.js"></script>
    <script type="text/javascript" src="static/js/vue-resource.js"></script>
    <script type="text/javascript" src="static/js/anki.js"></script>
</body>
{% endraw %}

</html>